html,
body {
  margin: 0;
  padding: 0;
  background-color: #000c18;
  color: #225588;
}

canvas {
  display: block;
}

#start {
  margin-left: 10px;
  margin-top: 10px;
  padding: 3px;
}

#result {
  margin-left: 10px;
  margin-top: 10px;
  padding: 3px;
  font-family: consolas;
}